

.a1{
		margin:0 auto 0 auto;
		width:100%;
		height:30px;
		background-color:#E7E7E7;
		text-align:right;
		}
.b3 ul li a {
			color:#000;
			text-decoration:none;
}






.b1{
		width:1200px;
		height:100px;
		margin:30px auto 0 auto;
	}
.b3 ul li{
			float:left;
			border-right:1px solid #000000;
			padding: 0px 15px;
			
		}

.b2{
	float:left;
	margin-left:100px;
	}
.c1{
	width:1200px;
	height:400px;
	margin:0 auto 0 auto;
	margin-top:1px;
	position:relative;
	
	}

.b3{
	float:left;
	
	}

.b3 ul{
		list-style:none;

		}
.b3 ul li.b4{
				border-right:none;
}

.b3 ul li.b5{
			font-weight:900;
			border-bottom:3px solid #000000;
}
.c2{
	width:960px;
	height:1px;
	background-color:#ADADAD;
	position:relative;
	margin:50px auto 0 auto;

}
.c2 h3{
		position:absolute;
		margin-top:-22px;
		margin-right:100px;
		border-bottom:1px solid #000000;
}
.p1{
	width:935px;
	height:143px;
	margin:0px auto 0 auto;
	
	}
.p1 .p0 {
	width:175px;
	height:140px;
	float:left;
	text-align:center;
	font-size:2;
	}
.p1 .p0 {
	padding-right:12px;
	padding-top:12px;
}
.pp{
	width:935px;
	height:143px;
	margin:10px auto 0 auto;
	
	}
.pp .p0 {
	width:175px;
	height:140px;
	float:left;
	text-align:center;
	font-size:2;
	}
.pp .p0{
	padding-right:12px;
	padding-top:24px;
}

.tt{
	width:935px;
	height:143px;
	margin:31px auto 0 auto;
	
	}
.tt .p0 {
	width:175px;
	height:140px;
	float:left;
	text-align:center;
	font-size:2;
	}
.tt .p0 {
	padding-right:12px;
	padding-top:12px;
}

.t1{
	width:935px;
	height:143px;
	margin:31px auto 0 auto;
	
	}
.t1 .p0 {
	width:175px;
	height:140px;
	float:left;
	text-align:center;
	font-size:2;
	}
.t1 .p0 {
	padding-right:12px;
	padding-top:5px;
}


.t2{
	width:935px;
	height:143px;
	margin:31px auto 0 auto;
	
	}
.t2 .p0 {
	width:175px;
	height:140px;
	float:left;
	text-align:center;
	font-size:2;
	}
.t2 .p0 {
	padding-right:12px;
	padding-top:5px;
}


.t3{
	width:935px;
	height:143px;
	margin:31px auto 0 auto;
	
	}
.t3 .p0 {
	width:175px;
	height:140px;
	float:left;
	text-align:center;
	font-size:2;
	}
.t3 .p0 {
	padding-right:12px;
	padding-top:5px;
}

.t4{
	width:935px;
	height:143px;
	margin:31px auto 0 auto;
	
	}
.t4 .p0 {
	width:175px;
	height:140px;
	float:left;
	text-align:center;
	font-size:2;
	}
.t4 .p0 {
	padding-right:12px;
	padding-top:5px;
}

.t5{
	width:935px;
	height:143px;
	margin:31px auto 0 auto;
	
	}
.t5 .p0 {
	width:175px;
	height:140px;
	float:left;
	text-align:center;
	font-size:2;
	}
.t5 .p0 {
	padding-right:12px;
	padding-top:5px;
}

.t6{
	width:935px;
	height:143px;
	margin:31px auto 0 auto;
	
	}
.t6 .p0 {
	width:175px;
	height:140px;
	float:left;
	text-align:center;
	font-size:2;
	}
.t6 .p0 {
	padding-right:12px;
	padding-top:5px;
}

.t7{
	width:935px;
	height:143px;
	margin:31px auto 0 auto;
	
	}
.t7 .p0 {
	width:175px;
	height:140px;
	float:left;
	text-align:center;
	font-size:2;
	}
.t7 .p0 {
	padding-right:12px;
	padding-top:5px;
	
}
.t8{
	width:935px;
	height:60px;
	margin:50px auto 0 auto;
	text-align:center;
}
.t8 .m1 {
	float:left;
	margin-left:378px;
}
.t8 .m2 {
	float:left;
	margin-left:9px;
}

.t8 .m3 {
	float:left;
	margin-left:9px;
}

.t8 .m4 {
	float:left;
margin-left:9px;
}
.t8 .m1 {
		margin-top:4px;
}
.t8 .m2 {
	margin-top:4px;
}
.t9 {
	width:100%;
	height:120px;
	
	font-size:5px;
	background-color:#EAEAEA;
	text-align:center;
	}
.t9 .v1{
	padding-top:36px;

}
.t9 .v2{
	padding-top:10px;

}



.t9 .v3{
	padding-top:10px;

}












